/*
  become_style.css is used for all the pages except index.html
  It follows a mobile first design approach
  @media queries where utilized in the css file
*/


body{
  margin: 0 0 0 0;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  line-height: 1.8em;
  color: #2A3648;
  background-color: #eeeeee;
}

.content{
  width: 100%;
  height: auto;
}
header{
  width: 100%;
}

.top{
  width: 100%;
  background-color:white;
  height: 60px;
  position: fixed;
  top: 0px;
}

.stem_logo{
  width: 10%;
  height: 90;
  margin-left: 5%;
  padding-top: 2%;
  float: left;
}

.nav_icon{
  margin-right: 10%;
  color: #2A3648;
  float: right;
  font-size: 25px;
  margin-top: 4%;
}

.nav_icon:hover{
  color: #e76525;;
  cursor: context-menu;
}

main{
  margin-top: 60px;
}

.first_part, .first_part-m{
  background-color: white;
  margin: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 5%;
}

.first_part-m{
  flex-direction: row;
}

.illustrate{
  width: 85%;
  margin: auto;

}

.writeup{
  padding: 5%;
  margin: 0% 5%;
}

.writeup-m{
 width: 70%;
 padding-left: 10%;
}

.illustrate-m{
 width: 10%;
 margin-top: 20%;
}

.desktop-h1{
  display: none;
}

button, input[type="submit"]{
  background-color: white;
  width: auto;
  height: 40px;
  border: 2px solid #2A3648;
  color: #2A3648;
  border-radius: 20px;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
}

input[type="submit"], #submit {
  width: auto;
  margin-top: 2%;
  color: white;
  background-color: #e76525;
  border: 2px solid white;
}

button:hover{
  background-color: #e76525;
  color: white;
  border: 0px;
}

input[type="submit"]:hover{
  background-color: white ;
  color: #e76525;
}


.form{
  padding: 10% ;
  line-height: 2em;
  background-color: #e76525;
  color: white;
}

.form-fields{
  width: 90%;;
  margin-left: auto;
  margin-right: auto;
}

input, select{
  width: 100%;
  height: 35px;
  border: 1px solid #999999;
  border-radius: 2px;
}

textarea{
  width: 100%;
}

label{
  margin-top: 10%;
}

 span{
   color: white;
   font-size: 15px;
   font-weight: bold;
 }

 footer{
   width: 100%;
   height: auto;
   bottom: 0%;
 }

 .confirmation, .about_us{
   background-color: white;
   width: 100%;

 }

 .message, .about{
   width: 90%;
   padding: 5% 5%;
 }

 h1{
   font-size: 1.5em;
 }

@media screen and (min-width: 868px){
  .content{
    width: 90%;
    margin: 0 auto;
  }

  .top{
    width: 90%;
    height: 80px;
    margin: 0 auto;
  }

  .stem_logo{
    width: 5%;
  }

  main{
    margin-top: 80px;
  }

  .first_part{
    flex-direction: row;
  }

  .illustrate{
    margin-left: 5%;
    margin-top: 5%;
  }

  .mobile-h1{
    display: none;
  }

  .desktop-h1{
    display: block;
  }

  .writeup{
    padding: 5% 2%;
    margin-top: 0;
    margin-bottom: 0;
  }

  .writeup-m{
    width: 60%;
    padding: 5% 10%;
    margin-top: 0%;
  }

  .illustrate-m{
    width: 5%;
    height: 60%;
    padding-top: 5%;
    margin-top: 0%;
  }
  .form{
    padding: 5% 10%;
  }

  textarea{
    width: 100%;
  }

  .sidebar ul li a:hover{
    color: #e76525
    text-decoration: none;
  }

  input, select{
    width: 100%;
    height: 30px;
  }
  .form-fields{
    width: 60%;
  }
  .message, .about{
    width: 60%;
    margin-left: auto;
    margin-right: auto;
  }
  h1{
    font-size: 2em;
  }
}
