 footer{
   width: 100%;
   background-color: #333333;
   color: #999999;
   padding-top: 5%;
 }
 .footer{
   bottom: 0px;
   width: 100%;
   background-color: #333333;
   color: #999999;
   margin-bottom:-20px;
   padding-bottom: 1%;
   padding-top: 4%;
 }


 footer p, .footer h3, footer h3{
   margin-left: 10%;
   color: #999999;
 }


 @media screen and (min-width: 868px) {
   .footer {
     display: flex;
     justify-content: space-evenly;
   }

   .footer p, .footer h3{
      margin-left: 0%;
    }
     footer p, footer h3{
       margin-left: 13%;
     }
 }
