/*
 Index page styles
*/
  body {
    margin: 0;
    font-family: 'Raleway', sans-serif;
    font-size: 1em;
    line-height: 1.5em;
    background-color: #eeeeee;
  }

  .content{
    margin:  0 auto;
    width: 100%;
    height: auto;
  }

  .top{
    width: 100%;
    background-color: white;
    height: 60px;
    position: fixed;
    top: 0px;
    z-index: 3;
  }


  header{
    width: 100%;
  }

  .stem_logo{
    width: 10%;
    height: 90;
    margin-left: 5%;
    padding-top: 2%;
    float: left;
  }
  .nav_icon{
    margin-right: 5%;
    color: #2A3648;
    float: right;
    font-size: 25px;
    margin-top: 4%;
  }

  .nav_icon:hover{
    background-color: white;
    color: #e76525;
    cursor: context-menu;
  }

 .owl-carousel{
  background-color: #F6B737;
 }
  .jumbotron{
    width: 100%;
    background-color: #F6B737;
    height: auto;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    padding-bottom: 5%;
  }

  .jumbotron_img{
    width: 100%;
    height: 80%;
  }

  .jumbotron_text{
    width: 80%;
    margin-left: 10%;
  }




  main{
    margin: 0px;
  }

/* Styling of the first contents containing the introduction*/

  .first_content{
    width: 100%;
    height: auto;
    padding: 5% 0%;
    background-color: white;
  }
  .introduction{
    width: 80%;
    padding:0% 5%;
    margin: 2% auto;

  }
  h1{
    font-size: 1.2em;
  }
  h2{
    font-size: 1em;
  }
  h1, p {
    color: #2A3648;
  }

  .intro_description{
    width: 70%;
    margin: 10% auto;
    background-color: #C7D0D8;
    padding-bottom: 5%;
    display: flex;
    flex-direction: column;
  }

  .new_content{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .content2{
    background-color: #FFF4D0;
    padding: 5% 10%;
  }


  #stem_girl{

  }


  .description_img{
    position: relative;
    left: -5%;
  }

   .intro_description ul li{
     list-style-type: none;
     line-height: 0.8em;
     color: #2A3648;
   }

/* Styling of Initiative Segment */
  .second_content{
    background-color: #226667;
    margin-top: -27px;
    padding-bottom: 5%;
    width: 100%;
  }

  .initiatives{
    width: 90%;
    padding:5% 5%;
    margin: 2% auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

.initiatives_list{
  width: 90%;
  padding: 5% 5%;
  border-radius:  10px;
}

.initiatives_description{
  background-color: #C7D0D8;
  border-radius: 5px;
  margin-left: 3%;
}

.first_description, .second_description, .third_description{
  display: flex;
  flex-direction: row;
  margin: 5% auto;
  align-content: space-evenly;
  height: 30%;
}


.desc_icon{
  width: 20%;
  margin: auto;
}

.desc{
  width: 70%;
}
.initiatives h1,p{
  color: #00285B;
}



/* Styling of the quotes*/

.third_content{
  width: 100%;
  height: auto;
  background-color: white;
  padding-bottom: 20%;
  padding-top: 5%;
  margin-top: -5%;
}

.quotes{
  width: 80%;
  margin: auto;
  font-family: 'Libre Baskerville', serif;
}

/* Syling of the forth_content */

.forth_content{
  background-color: #226667;
  padding-bottom: 5%;
}

.join_image{
  height: 350px;
}

.join{
  height: 200px;
  margin-left: 10%;
  margin-right: 10%;
}

.join p, .initiatives_list p, li, .initiatives_list h1{
  color: #C7D0D8;
}


/*  Button styles
*** Button hover
*/
button{
  margin-left:0;
  background-color: white;
  color:  #2A3648;
  border: none;
  height: 40px;
  border-radius: 50px;
  font-size: 1em;
  width: auto;
}

.mobile-btn{
  margin-left: 50%;
  margin-top: 5%;
}

.desktop-btn{
  display: none;
}

button:hover{
  background-color: #e76525;
  color: white;
}



/* Styling for desktop view
** Full screen viewport**
** Desktops, Laptops.
*/


@media screen and (min-width: 868px){
body{
  margin: 0 0 0 0;

}
.content{
  width: 90%;
  margin: 0 auto;
}
h1{
  font-size: 1.5em;
}

.top{
  width: 90%;
  height: 80px;
  margin: 0 auto;
}

.stem_logo{
  width: 5%;
}

.nav_icon{
  margin-top: 2%;
  font-size: 30px;
}

.owl-carousel{
  width: 100%;
  height: auto;
}
.jumbotron{
  width: 100%;
  height: 500px;
  flex-direction: row;
  padding-bottom: 1%;
}

.jumbotron_text{
  width: 45%;
  margin-left: 5%;
  margin-right: 5%;
  padding-top: 6%;
}

.jumbotron_text h1{
  font-size: 30px;
  color: #2A3648;
}

.jumbotron_text p{
  color: #2A3648;
  font-size: 1.2em;
}


.jumbotron_img{
  margin-left: 5%;
  width: 45%;
  height: 100%;
  padding-top: 4%;
}

.mobile-btn{
  display: none;
}
.desktop-btn{
  display: block;
}

.first_content{
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  padding: 1% 0;
}

.introduction{
  width: 30%;
  margin-top: 12%;
  margin-left: 5%;
}
#stem_girl{
  position: relative;
  right: 90%;
  bottom: 5%;
}
.intro_description{
  width: 70%;
  margin-right: 5%;
  margin-top: 5%;
  margin-bottom: 2.5%;
  background-color: white;
  flex-direction: row;
  justify-content:space-around;
}

.description_img{
 width: 50%;
 position: relative;
 left: 50%;
 bottom: -12%;
 top: 0;
}

.description_list{
  width: 50%;
  background-color: #C7D0D8;
}

.intro_description ul{
  margin-top: 15%;
  margin-left: 5%;
  line-height: 0.6em;
}

.new_content{
  flex-direction: row;
  height: 600px;
}
.content1{
  width: 50%;
}
.content2{
  width: 50%;
  padding: 10% 3%;
}

.initiatives{
  flex-direction: row;
}
.initiatives_list{
  width: 45%;
  height: auto;
  margin-top: 5%;

}
.initiatives_list ul li{

}
.initiatives_description{
  width: 45%;
  padding: 5% 5%;
}


.desc_icon{
  width: 20%;
}

.quotes{
  width: 50%;
  margin-left: 40%;
}

.third_content{
  height: 250px;
}

.forth_content{
  margin-bottom: -20%;
}
.join_image{
 width: 80%;
 height: 500px;
 margin-left: auto;
 margin-right: auto;
 position: relative;
 top: -250px;
}
.join{
 position: relative;
 top: -230px;
 height: auto;
 padding: auto
}

a{
  text-decoration: none;
}


}


@media screen and (min-width: 480px) {

  .stem_logo{
    padding-top: 1%;
  }
  .top{
    height: 90px;
  }
  .jumbotron{
    margin-top: 90px;
  }

}
