


.sidebar{
  position: fixed;
  padding-top: 2%;
  top: 0px;
  right: 0px;
  background-color: white;
  width: 80%;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  line-height: 2em;
  display: none;
}

.sidebar ul li {
  list-style-type: none;
  border-bottom: 1px solid grey;
  margin: auto;
  padding-top: 2%;
  padding-bottom: 2%;
  padding-right: 5%;
}

.sidebar ul li a{
  text-decoration: none;
  color: black;
}

.sidebar ul li:last-child{
  border-bottom: none;
}

.sidebar ul li a:hover{
  color: #a6a6a6;
}

.sidebar ul ul li{
  border-bottom: none;
  padding-top: 0.5%;
  padding-bottom: .5%;
}


.close{
  margin-left: 2%;
  margin-top: .5%;
}

.close:hover {
  background-color: #ff8080;
  cursor: context-menu;
}


@media screen and (min-width: 868px){
  .sidebar{
    width: 20%;
  }
}
